<h1><%= @picture.title %></h1>
<p><%= link_to '//Home', root_path %></p>
<p><%= link_to '//View', picture_path %></p>
<%= form_for @picture do |f| %>
<p>
	<%= f.label :title %>
	<%= f.text_field :title %>
</p>

<p>
	<%= f.label :artist %>
	<%= f.text_field :artist %>
</p>

<p>
	 <%= f.label :url %>
	 <%= f.text_field :url %>
</p>
<p>
  <%= f.submit %>
</p>

<% end %>