<h1>Pictures(<%= @pictures.length %>)</h1>
<%= link_to '//New Photo', new_picture_path %>

  <%= @pictures.each do |pic| %>

<h2><%= pic.title %></h2>

<p>
  Artist: <strong><%= pic.artist %></strong> | <%= link_to '//Edit', edit_picture_path(pic) %> |  <%= link_to '//View', picture_path(pic) %>
</p>

<p>
  <img src="<%= pic.url %>" />
</p>

<% end %>