<h1>Add a new picture!</h1>
<%= link_to '//Home', root_path %>

<%= form_for :picture, url: pictures_path do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>

	<p>
		<%= f.label :artist %>
		<%= f.text_field :artist %>
	</p>

	<p>
		<%= f.label :url %>
		<%= f.text_field :url %>
	</p>
	<p>
		<%= f.submit %>
	</p>
<% end %>