<h1><%= @picture.title %></h1>
<p>
  Artist: <strong><%= @picture.artist %></strong> | <%= link_to '//Home', root_path %> | <%= link_to '//Edit', edit_picture_path %> | <%= link_to '//Delete',  @picture, method: :delete, :data => {confirm: "Are you sure you want to delete this picture?"} %>
</p>

<p>
  <img src="<%= @picture.url %>" alt="It's not here...">
</p>